.paintContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 50px
}

@media (max-width: 950px) {
  .paintContainer {
    flex-direction: column;
  }
}