.canvasContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.canvasBody {
  box-shadow: 0 -1px 48px 0 rgba(2, 185, 185, 0.43);
  background-color: white;
}

.topButtons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  gap: 20px;
}

.toolButton {
  color: white;
  background-color: #02bfbf;
  padding: 10px 20px;
  border-radius: 20px
}
