.canvasContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.canvasBody {
  box-shadow: 0 -1px 48px 0 rgb(126, 176, 245);
  background-color: white;
  height: 100%;
  aspect-ratio: 1;
}

.topButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  gap: 2vh;
}

.toolButton {
  color: white;
  padding: 20px 5vw;
  border-radius: 20px
}
